<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASCII Art Web</title>

    <link rel="stylesheet" href="/css/style.css">
 
</head>

<body class="{{if eq .Theme "dark"}}dark{{else}}light{{end}}">

    <div class="container">

        <header>
            <h1>ASCII Art Web</h1>
        </header>

        <div class="form-container">

            <form action="/ascii-art" method="POST">

                <textarea
                    name="input"
                    placeholder="Enter text here..." 
                    required
                >{{.Input}}</textarea>

                <select name="banner" required>
                    <option selected value="" disabled>Select a banner</option>

                    <option value="standard.txt"
                        {{if eq .Banner "standard.txt"}}selected{{end}}>
                        Standard
                    </option>

                    <option value="shadow.txt"
                        {{if eq .Banner "shadow.txt"}}selected{{end}}>
                        Shadow
                    </option>

                    <option value="thinkertoy.txt"
                        {{if eq .Banner "thinkertoy.txt"}}selected{{end}}>
                        Thinkertoy
                    </option>
                </select>

                

                <button type="submit" name="action" value="generate">
                    Generate
                </button>

        </div>

        {{if .Error}}
        <div class="error">
            <h2>{{.Error}}</h2>
        </div>
        {{end}}

        {{if .Result}}
        <div class="result">
            <pre>{{.Result}}</pre>
        </div>
        {{end}}

        <footer>
            Built by MJ
        </footer>

        </form>

            <form action="/theme" method="post">
                <div class="themes">
                    <!-- Sun Icon -->
                    <span>☀️</span>
                    
                    <label class="switch">
                        <input name="theme" 
                        type="checkbox" 
                        id="theme-toggle" 
                        value="dark"
                        {{if eq .Theme "dark"}}checked{{end}}>
                        <span class="slider"></span>
                    </label>
                    <!-- Moon Icon -->
                    <span>🌙</span>

                    <button class="but" type="submit" name="action" value="apply"> Apply</button>
                </div>

            </form>

    </div>

</body>
</html>
